@import "tailwindcss";

/* Global Styles */
* {
  box-sizing: border-box;
}

/* Set default body background */
body {
  background-color: #111; /* dark background */
  margin: 0;
  font-family: sans-serif;
  color: white; /* Default white text */
}
#TaskList::-webkit-scrollbar{
   display: none;
}

